<div class="header">
  <div class="site-image">
    <img [src]="source" height="240" width="320" alt="">
  </div>
  <div class="site-slogan">
    <!-- <h2>{{ slogan }}</h2> -->
    <h2>{{ getSlogan() }}</h2>
  </div>
</div>