<div class="navbar">
  <div class="site-name">
    <h2>{{ sitename }}</h2>
  </div>
  <div class="site-menu">
    <a href="#">HOME</a>
    <a href="#">ABOUT</a>
    <a href="#">CONTACT</a>
    <a href="#">CART</a>
    <a href="#">PRODUCT</a>
  </div>
</div>