<div *ngFor="let p of products; let i = index">
  <!-- <p>{{i}}</p> -->
  <div class="product-container" [ngStyle]="{backgroundColor: p.gender==='Male' ? '#D5F5E3':'#FADBDB'}">
    <div class="image-container"><img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px;"></div>
    <div class="name-container"><h6>{{ p.name }}</h6></div>
    <div class="details" [ngStyle]="{color: p.gender === 'Male' ? 'Green':'Red'}">{{ p.gender }}</div>
    <div class="details"><b>Price:</b>{{ p.price }}</div>
    <div class="details"><b>Color:</b>{{ p.color }}</div>
  </div>
  <div class="options">
    <button class="btn btn-success">Show Details</button>
    <button class="btn btn-warning" *ngIf="p.gender==='Male'; else notifyme">Buy Now</button>
    <ng-template #notifyme>
      <button class="btn btn-danger">Notify me</button>
    </ng-template>
  </div>
</div>